body {
  background-color: #000;
  color: #0ff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
}

.container {
  max-width: 600px;
  margin: auto;
}

#discordBtn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #7289da;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.hidden {
  display: none;
}
